*{
    box-sizing: border-box;
}

.container {
    border: 4px solid lightgray;
    padding: 80px 24px 80px 24px;
}

.row {
    width: 100%;
    max-width: 600px;
    margin: 0 auto -24px auto;
    /* man kann theoretisch auch oben beim padding
    80px 24px 56px(80-24) 24px coden, aber es ist cleaner 
    und more advanced für etwaige spätere anwendungen 
    die 24px im row abzuziehen */
    display: flex;
    justify-content: space-between;
/* display: fley; und justify-content: space-between;
 standen zu beginn im .container, als wir die .row im
 code geadded haben, musste in row reinverschoebn, werden,
 da sich mother-child bezug geändert hat*/
}

.box {
    border: 4px solid lightgray;
    margin-bottom: 24px;
}

.box-small {
    height: 50px;
}

.box-tiny {
    width: 30%;
    height: 50px;
}

.box-wrapper {
    width: 48%; 
    /* display: flex;
    flex-direction: column; sind hier nicht 
    nötig, da es sich von alleine so aufreiht */
}

.tiny-wrapper {
    display: flex;
    justify-content: space-between;
}

.box-large {
    width: 48%;
}
